@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer_link, .footer_link_main, .ft_btn, .footer__label, .stories__text, .section-slider__title, .section__text__title, .section__text, .shoes_btn, .shoes-block__item__btn, .shoes_name, .shoes-block__text__name, .our-favorites__span, .our-favorites__title, .header-btn__white, .header-title__paragraf__main, .header-title__main_main, .header-line__link {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-screen {
  min-height: 100vh;
  display: flex;
}

.header {
  width: 100vw;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #ffffff;
}
.header-line__list {
  display: flex;
  justify-content: flex-start;
  margin-right: 30px;
}
.header-line__link {
  margin-right: 30px;
  font-size: 12px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212A2F;
}
.header-line__link:hover {
  text-decoration: underline;
}
.header-line__logo {
  min-width: 133px;
  height: 40px;
  position: relative;
  z-index: 2;
}

.header_menu {
  display: flex;
  flex: 1 0 30%;
  margin-left: 0.5%;
  justify-content: flex-start;
}

.header-line__logo__img {
  display: flex;
  align-items: center;
  margin-right: 1%;
  cursor: pointer;
  width: 30px;
  height: 25px;
}

.menu_header {
  display: flex;
  justify-content: flex-end;
  margin-left: 0px;
}

.header_bg {
  min-height: 100vh;
}

.header-title__main_main {
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.header-title__paragraf__main {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.header-btn-group {
  display: flex;
  justify-content: center;
}

.header-btn {
  background: #FFFFFF;
  border-radius: 2px;
}
.header-btn__white {
  font-size: 14px;
  width: 180px;
  height: 48px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: #212A2F;
}
.header-btn__white:hover {
  background-color: black;
  color: #ffff;
}

.btn_right {
  margin-right: 1%;
}

.main {
  padding-top: 120px;
  max-width: 1236px;
  margin: 0 auto;
}

.our-favorites__title {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  color: #212A2F;
}
.our-favorites__span {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
}

.our-favorites-line {
  border-bottom: 2px solid #D3D4D5;
}
.our-favorites-line__items {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}
.our-favorites-line__items__one {
  padding-right: 132px;
  cursor: pointer;
}
.our-favorites-line__items__two {
  padding-right: 132px;
  cursor: pointer;
}
.our-favorites-line__items__there {
  cursor: pointer;
}

.shoes-block {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  flex-wrap: wrap;
}
.shoes-block__item {
  margin-right: 20px;
}
.shoes-block__text {
  border-top: 2px solid #D3D4D5;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}
.shoes-block__text__name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #212A2F;
}

.shoes_name {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212A2F;
  padding-top: 17px;
  padding-bottom: 17px;
}

.no_margin {
  margin-right: 0px;
}

.shoes_img {
  width: 396px;
  height: 396px;
}

.shoes-block__item__btn {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  display: none;
}

.shoes_btn {
  position: relative;
  top: 150px;
  background: #FFFFFF;
  border-radius: 2px;
  width: 276px;
  height: 48px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
}

.shoes_img:hover .shoes-block__item__btn {
  display: block;
}

.header_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-btn-group {
  flex: 0 1 auto;
}

.header-title {
  flex: 0 1 40%;
}

.section {
  margin-top: 142px;
}
.section__img {
  max-width: 100%;
  height: 542px;
}
.section__text {
  margin-top: 47px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212A2F;
}
.section__text__title {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212A2F;
}
.section__text__paragaf {
  margin-top: 18px;
  margin-bottom: 30px;
}

.btn_black {
  background-color: black;
  color: white;
}

.btn_black:hover {
  background-color: orange;
  color: black;
}

.section-slider {
  margin-top: 119px;
  margin-left: 10%;
}

.section-slider__title {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #212A2F;
  padding-bottom: 15px;
}

.slider_navigation.swiper-button-next:after {
  background-color: white;
  color: #4D5559;
  min-width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #D3D4D5;
}

.stories {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.stories__items {
  margin-right: 40px;
}
.stories__items:last-child {
  margin-right: 0px;
}
.stories__text {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212A2F;
  margin-top: 4%;
}

.stories__imagies {
  overflow: hidden;
}

.stories__imagies img {
  transition: 0.6s;
  /* Время эффекта */
  display: block;
}

.stories__imagies:hover {
  transform: scale(1.1);
}

.footer {
  margin-top: 50px;
  background-color: #212A2F;
}
.footer__form {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__label {
  font-size: 14px;
  line-height: 19px;
  /* or 136% */
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.footer__input {
  width: 302px;
  height: 42px;
  margin-top: 0.5%;
  margin-bottom: 1%;
  background: #4D5559;
  border-bottom: 2px solid #FFFFFF;
}

.ft_btn {
  background: #4D5559;
  border: 2px solid #4D5559;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 130px;
  height: 48px;
  color: #FFFFFF;
}

.footer_columns {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  margin-top: 2%;
  flex-wrap: wrap;
}

.footer_col {
  flex: 0 1 17%;
}

.footer_list li {
  margin-bottom: 3%;
}

.footer_link_main {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  font-weight: 600;
}

.footer_link {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.footer_col img {
  margin: 1% 2% 2% 2%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.header_burger {
  display: none;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header_body {
    height: 50px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header_burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before,
.header_burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active span {
    transform: scale(0);
  }

  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active::after {
    transform: rotate(-45deg);
    top: 9px;
  }

  .header-line__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 18px 0 0 0;
  }

  .header-line__menu.active {
    top: 0;
  }

  .header-line__list {
    display: block;
    margin-top: 50px;
  }

  .header-line__list li {
    margin: 0 0 20px 0;
  }
}